body {
    margin: 0;
}
    
#main {
    background-image: url(LAGUTTa.png);
    background-size: cover;
}

#about{
    background-image: url(Time_Square_about.jpg);
    background-size: cover; 
} 
#mission{
    background-image: url(LAGUTTa.png);
    background-size: cover; 
} 
#work{
    background-image: url(dubai_work.jpg);
    background-size: cover; 
}

h1 {
    text-align: center;
    color: white;
    font-family: bree-serif;
    letter-spacing: 5px;
    font-size: 40px;
    margin-top: 200px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
    text-align: center;
    color: white;
    font-family: bree-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-family: bree-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3{
   font-family: bree-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar {
    font-family: bree-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-right: 40px;
    margin-left: 17%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.element {
    margin-top: -30px;
}

.button {
    border: solid white;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.about{
    padding-top: 30px;
}
a {
    text-decoration: none;
    color: white;
    transition:color .5s;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

a:hover {
    color: #991a3b;
}

#main_buttton {
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#about_container, #mission_container, #work_container {
    background-color: black;
    padding-bottom: 50px;
    opacity: 0.7;
}


#person1, #person2, #person3 {
    height: 400px;
    width: 400px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 1%;
    background-color: black;
}

.userNameText {
    font-family: bree-serif;
    color: white;
    font-size: 20px;
}

.msg {
    font-family: bree-serif;
    color: white;
    font-size: 20px;
}
